@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center fw-bold">Welcome to the Employee Management Systems!!</h1>

<div class="employee-images">
    <img src="~/Images/employee.jpg" alt="Employee 1" class="img-thumbnail" />
</div>

