html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.employee-images {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

    .employee-images img {
        width: 80%;
        max-width: 1200px;
        height: auto;
        max-height: 700px;
        object-fit: cover;
    }